@use "./../veriables.scss" as *;

.js-company-select-div {
  padding: 4rem;
  max-width: 110rem;
  margin: 0 auto;
}

.js-company-select-waiting {
  font-size: 1.6rem;
  text-align: center;
}

.js-company-select-title {
  font-size: 2.4rem;

  text-align: center;
  //   padding-top: 4rem;
  margin-bottom: 2rem;
}

.js-company-select-pending {
  font-size: 1.6rem;
  text-align: center;
}

.js-company-select-info {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 2rem;
}

.js-company-select-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  row-gap: 4rem;
  padding: 4rem;
  max-height: 50rem;
  //   background-color: red;
  overflow: scroll;
  margin-bottom: 4rem;
}

.js-company-select-list::-webkit-scrollbar {
  display: none;
}
.js-company-select-card {
  background-color: $color-white;
  padding: 2rem;
  height: 12rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: $border-radius-primary;
}

.js-company-select-card-name {
  font-size: 1.6rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.js-company-select-card-locaion {
  font-size: 1.4rem;
}

.js-company-select-apply-btn {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;

  padding: 1rem 2rem;
  margin-top: 3.2rem;

  color: $color-white;
  background-color: $color-primary;
  border-radius: $border-radius-primary;
  border: $border-white;
}

.js-company-create-btn {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  width: max-content !important;

  padding: 1rem 2rem;
  margin: 0 0rem 0 auto;

  color: $color-white;
  background-color: $color-primary;
  border-radius: $border-radius-primary;
  border: $border-white;
}

.js-company-select-logout-btn {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  width: max-content !important;

  padding: 1rem 2rem;
  margin: 0 0rem 0 auto;

  color: $color-white;
  background-color: $color-primary;
  border-radius: $border-radius-primary;
  border: $border-white;
}
