@use "./../veriables.scss" as *;

.js-company-create-box {
  padding: 4rem;
  max-width: 110rem;
  margin: 0 auto;
}

.js-company-create-title {
  font-size: 3.2rem;
  text-align: center;
  margin-bottom: 4.4rem;
}

.js-company-create-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

.js-company-create-label-input-div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.js-company-create-label {
  font-size: 1.6rem;
}

.js-company-create-input {
  font-size: 1.6rem;
  padding: 1rem;
  border-radius: $border-radius-secondary;
  border: $border-black;
}

.js-company-create-input:focus {
  outline: none;
}

.js-company-create--btn {
  display: block;
  font-size: 1.6rem;
  padding: 1rem 2rem;
  font-weight: 700;
  margin-top: auto;
  margin-left: auto;

  height: max-content;
  width: max-content;
  background-color: $color-primary;
  border: $border-white;
  color: $color-white;
  border-radius: $border-radius-primary;
}

.js-company-create-back-btn {
  padding: 1rem 2rem;
  background-color: transparent;
  position: relative;

  border: none;
  font-size: 1.6rem;
  //   border-bottom: 1px solid $gray-4;
  cursor: pointer;
  transition: all 0.3s;
}

.js-company-create-back-btn:hover {
  color: $color-primary;
}
