@use "./../veriables.scss" as *;

.js-jobs-page {
  background-color: $gray-7;
}
.js-jobs-container {
  width: 120rem;
  margin: 0 auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  //   background-color: red;
  gap: 5rem;
  height: 80rem;
  //   overflow: scroll;
}

.js-jobs-flex {
  //   background-color: blue;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.js-jobs-list {
  //   background-color: green;
  padding: 2rem;
  border-radius: $border-radius-primary;
  background-color: $gray-9;
}

.job-card--active {
  transition: all 0.3s;
  transform: scale(1.05);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
}

.js-jobs-list-heading {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.js-jobs-list-locaion {
  font-size: 1.4rem;
}

.js-jobs-list-company-name {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.js-job-detail-div {
  background-color: $gray-9;
  padding: 4rem;
  border-radius: $border-radius-primary;
}

.js-job-detail-title {
  font-size: 3.2rem;
  margin-bottom: 3rem;
}

.js-job-detail-text {
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.js-job-detail-skills {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.js-job-detail-skills-title {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.js-job-detail-skill-list {
  display: flex;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 2rem;
}

.js-job-detail-skill-item {
  font-size: 1.4rem;
  padding: 0.8rem 1.6rem;
  background-color: $gray-7;
  border-radius: 2rem;
  color: $gray-1;
  font-weight: 500;
}

.js-job-detail-description-title {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.js-job-detail-description-text {
  font-size: 1.4rem;
  line-height: 1.5;
  color: $gray-3;
  margin-bottom: 4rem;
}

.js-job-detail-apply-div {
}

.js-job-detail-apply-title {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.js-job-detail-apply-option-div {
  margin-bottom: 1rem;
}
.js-job-detail-apply-option {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  gap: 2rem;
}

.js-job-detail-apply-radio {
}

.js-job-detail-apply-file {
  display: block;
  font-size: 1.4rem;
  margin-bottom: 3.2rem;
  margin-left: 3rem;
}

.js-job-detail-apply-button {
  display: block;
  font-size: 1.6rem;
  width: 50rem;
  font-weight: 700;

  padding: 1rem 2rem;
  margin: 0 auto;
  margin-top: 3.2rem;

  color: $color-white;
  background-color: $color-primary;
  border-radius: $border-radius-primary;
  border: $border-white;
}

.js-job-detail-empty {
}
