@use "./../veriables.scss" as *;

.jbo-page {
  background-color: $gray-7;
  padding: 4rem 8rem;
}
.jbo-container {
  padding: 4rem 8rem;
  background-color: $gray-9;
  border-radius: $border-radius-primary;
}
.jbo-heading {
  font-size: 3.2rem;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 3.2rem;
}

.jbo-grid {
  display: grid;
  //   justify-items: center;
  margin-bottom: 2rem;
}

.jbo-grid-2-col {
  grid-template-columns: repeat(2, 1fr);
}
.jbo-grid-3-col {
  grid-template-columns: repeat(3, 1fr);
}
.jbo-grid-4-col {
  grid-template-columns: repeat(4, 1fr);
}

.jbo-radio-group {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.jbo-radio-group-label {
  display: block;
  font-size: 1.6rem;
  //   margin-bottom: 1rem;
}

.jbo-radio-group-inner-div {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.jbo-radio-group-radio-label {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  gap: 1rem;
}

.jbo-radio-group-radio-input {
}
.jbo-date-group {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.jbo-date-label {
  font-size: 1.6rem;
}
.jbo-date-input {
  font-size: 1.6rem;
  border-radius: $border-radius-primary;
  border: $border-black;

  padding: 1rem;
}

.jbo-skill-div {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 3rem;
}
.jbo-label {
  font-size: 1.6rem;
}
.jbo-input-skill {
  font-size: 1.6rem;
  padding: 0.8rem;
  border-radius: $border-radius-secondary;
  border: $border-black;
}

.jbo-input-skill:focus {
  outline: none;
}

.jbo-obj-data-div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 3rem;
}

.jbo-obj-data-heading {
  font-size: 2rem;
  //   text-align: center;
}

.jbo-obj-div {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  gap: 5rem;
}

.jbo-label-input-div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.jbo-label {
}

.jbo-input-text {
  font-size: 1.6rem;
  padding: 0.8rem;
  border-radius: $border-radius-secondary;
  border: $border-black;
}

.jbo-input-text:focus {
  outline: none;
}
.jbo-obj-del-btn {
  padding: 0.4rem;
  width: 5rem;
  border: $border-white;
  height: max-content;
  align-self: flex-end;
  background-color: $del-block-red;
  color: $color-white;
  border-radius: $border-radius-primary;
}

.jbo-obj-add-btn {
  font-size: 1.6rem;
  padding: 0.8rem 1.6rem;
  //   margin: 0 2rem 0 auto;
  margin: 0 auto;
  margin-top: 2rem;
  width: max-content;
  background-color: $color-primary;
  border: $border-white;
  color: $color-white;
  border-radius: $border-radius-primary;
}

.jbo-obj-del-icon {
  //   font-size: 1.6rem;
}

.jbo-file-upload-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  justify-items: center;
  margin-bottom: 2rem;
}

.jbo-file-div {
  display: flex;
  gap: 2rem;
}

.jbo-label {
}

.jbo-input-upload {
  font-size: 1.6rem;
  display: flex;
}

.jbo-submit-btn {
  display: block;
  font-size: 2rem;
  padding: 1rem 2rem;
  font-weight: 700;
  //   margin: 0 2rem 0 auto;
  margin: 0 auto;
  margin-top: 4rem;
  width: max-content;
  background-color: $color-primary;
  border: $border-white;
  color: $color-white;
  border-radius: $border-radius-primary;
}
