@use "./constants.scss";
@use "./veriables.scss";
@use "./login/login.scss";
@use "./jobseeker/jobseekerOnboarding.scss";
@use "./jobseeker/jobseekerNavbar.scss";
@use "./jobseeker/jobseekerFooter.scss";
@use "./jobseeker/jobskkeerSearchSection.scss";
@use "./jobseeker/jobseekerListingsSection.scss";
@use "./jobseeker/jobseekerJobsSection.scss";
@use "./jobseeker/jobseekerAppliedJobs.scss";
@use "./jobseeker/jobseekerCompanies.scss";
