@use "./../veriables.scss" as *;

.login-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.login-img-div {
  //   max-height: 100vh;
  width: 100%;
  //   background-color: red;
}

.login-img {
  //   width: 100%;
  height: 100%;
  display: block;
}

.login-from {
  padding: 2rem;
  //   width: 70rem;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //   background-color: red;
}

.login-from-heading {
  font-size: 3.2rem;
  margin-bottom: 4rem;
  text-align: center;
}

/* FORM COMMON */
.login-form-div {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.6rem;
  width: 50rem;
}

.login-form-label {
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
  padding-left: 0.8rem;
}

.login-form-input {
  display: block;
  font-size: 1.6rem;
  padding: 1rem;
  //   border: ;
  border: $input-and-card-border;

  border-radius: $border-radius-primary;
}
.login-form-input:focus {
  outline: none;
}

/* BUTTONS */
.login-form-submit-btn {
  font-size: 1.6rem;
  width: 50rem;
  font-weight: 700;

  padding: 1rem 2rem;

  margin-top: 1.6rem;
  margin-bottom: 1.6rem;

  color: $color-white;
  background-color: $color-primary;
  border-radius: $border-radius-primary;
  border: $border-white;
}

/* TOGGLE TEXT */
.login-form-change-text {
  font-size: 1.6rem;
}

.login-form-change-span {
  cursor: pointer;
  color: $color-primary;
}

/* SIGNUP ROLE BUTTONS */
.login-form-signup-role-btn-div {
  margin: 0 auto;
  width: 50rem;
  //   background-color: red;
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}

.login-form-signup-role-btn {
  width: 100%;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border-radius: $border-radius-primary;

  color: $color-black;
  background-color: $color-white;
  border: $border-black;

  transition: all 0.3s;
}

.login-form-signup-role-btn-active {
  color: $color-white;
  background-color: $color-primary;
  border: $border-white;
}
