@use "./../veriables.scss" as *;

.login-page {
  display: grid;
  grid-template-columns: 3fr 2fr;
  min-height: 100vh;
}

.login-img-div {
  position: relative;
  overflow: hidden;
}

.login-img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

.login-from {
  padding: 2.5rem;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-from-heading {
  font-size: 3.2rem;
  margin-bottom: 4rem;
  text-align: center;
}

.login-form-div {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.8rem;
  width: 100%;
  max-width: 60rem;
}

.login-form-label {
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
  padding-left: 0.8rem;
}

.login-form-input {
  display: block;
  font-size: 1.6rem;
  padding: 1.1rem;
  border: $input-and-card-border;
  border-radius: $border-radius-primary;
}

.login-form-input:focus {
  outline: none;
}

.login-form-submit-btn {
  font-size: 1.6rem;
  width: 100%;
  max-width: 56rem;
  font-weight: 700;

  padding: 1.2rem 2rem;
  margin-top: 1.8rem;
  margin-bottom: 1.8rem;

  color: $color-white;
  background-color: $color-primary;
  border-radius: $border-radius-primary;
  border: $border-white;
}

.login-form-submit-btn:hover {
  background-color: $color-primary-dark;
}

.login-form-change-text {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
}

.login-form-change-span {
  cursor: pointer;
  color: $color-primary;
}

.login-form-forgot-text {
  font-size: 1.6rem;
  cursor: pointer;
  color: $color-primary;
}

.login-form-signup-role-btn-div {
  margin: 0 auto;
  width: 100%;
  max-width: 56rem;
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}

.login-form-signup-role-btn {
  width: 100%;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1.1rem 2rem;
  border-radius: $border-radius-primary;

  color: $color-black;
  background-color: $color-white;
  border: $border-black;
}

.login-form-signup-role-btn-active {
  color: $color-white;
  background-color: $color-primary;
  border: $border-white;
}

.reset-page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $gray-7;
}

.reset-from {
  height: max-content;
  background-color: $gray-9;
  padding: 4rem;
  border-radius: $border-radius-primary;
}

@media (max-width: 1000px) {
  .login-page {
    grid-template-columns: 1fr;
  }

  .login-img-div {
    display: none;
  }

  .login-from {
    padding: 3rem 2.4rem;
  }
}

@media (max-width: 768px) {
  .login-from-heading {
    font-size: 2.6rem;
    margin-bottom: 3rem;
  }

  .login-form-change-text,
  .login-form-forgot-text {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .login-from {
    padding: 2rem 1.6rem;
  }

  .login-from-heading {
    font-size: 2.2rem;
  }

  .login-form-signup-role-btn-div {
    flex-direction: column;
    gap: 1.2rem;
  }
}
